@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

} 
body{  
background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
overflow-x: hidden;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
height: 100%;
}

#todos{
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    height: auto;
}

.heading{
    margin-bottom: 30px;
    text-align: center;
}

.heading h1
{
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 2.5rem;

}

.todo-input-container{
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 50px;


}


.todo_input{
     
    width: 100%;
    height: 40px;
    padding: 0 0 0 10px;
    font-size: 1.2rem;
    border: none;
    outline: none;

}
.add-item{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: black;
    line-height: 40px;
    color: white;
    cursor: pointer;
}
.deleteBtn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #c572b3;
    line-height: 40px;
    color: white;
    cursor: pointer;

}

.add-item:nth-child(2)
{
    right: 40px;
    background-color: rgb(41 204 117);
    align-items: center;
    justify-content: center;
    align-content: center;
}


.todo-list-container
{
    list-style: none;
    margin: 10px 0 0;

}

.todo-list
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
} 

.todo_item{

    width: 100%;
    background-color: white;
    color: black;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;

}

.button{
    position: absolute;
    right: 0;

}

.button button{
    width: 40px;
    height: 50px;
    border: none;
    color: rgb(7, 4, 4);
    outline: none;
    cursor: pointer;
    
}


.completed{
    background-color: #3ec282;
    /* margin-right: -5px; */

}
.editBtn{
    background-color: rgb(86,62,192);
}

.trash{
    background-color: #e72727;
}

.button button i {
    pointer-events: none;
}

@media screen and (max-width : 600px ) {
    #todos{
        width: 100%;
    }
}


.line-tho{
    text-decoration: line-through;
    opacity: 0.7;
    transition: 3s;
}

.fall{
    opacity: 0;
    transform: translateY(30px);
    transition: .5s;
}